@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gruppo&family=Inter:wght@100..900&family=Ultra&display=swap");

body.hide-scroll {
  overflow: hidden;
}

.picker-hovered,
.picker-active {
  border: 2px solid #151522 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.custom-context-menu {
  font-family: "Inter", sans-serif;
  position: fixed;
  background: #151522;
  box-shadow: 0px 20px 47px -45px rgba(66, 68, 90, 1);
  color: #f8f8fa;
  padding: 20px;
  z-index: 999;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.custom-context-menu h2,
h1,
p {
  margin: 0;
}

.scrape-options {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 8px 0;
}

.scrape-options__option {
  display: flex;
  gap: 4px;
}

.scrape-btn {
  all: unset;
  background: #ffbd42;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 600;
  gap: 12px;
  cursor: pointer;
}

.scrape-btns {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.scrape-btn.save {
  background: #0099ff;
  color: white;
}

.scrape-btn.cancel {
  background: #ffbd42;
  color: black;
}

.scrape-options__option input[type="checkbox"] {
  --active: #0099ff;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #0099ff;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.scrape-options__option input[type="checkbox"]:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
}
.scrape-options__option input[type="checkbox"]:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.scrape-options__option input[type="checkbox"]:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
.scrape-options__option input[type="checkbox"]:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}
.scrape-options__option input[type="checkbox"]:disabled + label {
  cursor: not-allowed;
}
.scrape-options__option
  input[type="checkbox"]:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}
.scrape-options__option input[type="checkbox"]:focus {
  box-shadow: 0 0 0 var(--focus);
}
.scrape-options__option input[type="checkbox"]:not(.switch) {
  width: 21px;
}
.scrape-options__option input[type="checkbox"]:not(.switch):after {
  opacity: var(--o, 0);
}
.scrape-options__option input[type="checkbox"]:not(.switch):checked {
  --o: 1;
}
.scrape-options__option input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 4px;
}

.scrape-options__option input[type="checkbox"]:not(.switch) {
  border-radius: 7px;
}
.scrape-options__option input[type="checkbox"]:not(.switch):after {
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}
.scrape-options__option input[type="checkbox"]:not(.switch):checked {
  --r: 43deg;
}

.scrape-options__option * {
  box-sizing: inherit;
}
.scrape-options__option *:before,
.scrape-options__option *:after {
  box-sizing: inherit;
}

input[type="text"] {
  padding: 6px;
  border: none;
  outline: none;
  color: black;
}
